@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="height: 90%">
    <h1 class="display-4">Velkommen</h1>
    <p class="m-5">Team 15 Hunderally projekt</p>
    <img class="img-fluid" style="border-radius: 15px" src="https://dengladehundeskole.dk/wp-content/uploads/2019/07/IMG_6907.jpg" />
</div>
